html * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #292929;
}

@-webkit-keyframes hover_shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  33% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  66% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes hover_shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  33% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  66% {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes spawn_pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes spawn_pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

html .container, html .wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

html .container {
  padding: 0px 12px;
}

html .wrapper {
  padding: 12px 12px;
}

html .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html .panel {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

html .main-head .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .main-head .row .col:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html .grid-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .grid-2 .col {
  height: 0%;
}

html .grid-2 .col:first-child {
  margin-right: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html .grid-2 .col:last-child {
  min-width: 30%;
}

html h1 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 42px;
}

html p, html span, html a, html input, html button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

html h2, html h3, html h4, html h5, html h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

html a {
  text-decoration: none;
}

html button a {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html button:hover a {
  color: #292929 !important;
}

html i {
  -webkit-animation-name: spawn_pop;
          animation-name: spawn_pop;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

html input, html button {
  outline: none;
  display: block;
  font-size: 20px;
}

html input:not(:placeholder-shown) {
  background-color: #EBEBEB;
}

html input:not([type="submit"]) {
  width: 100%;
  border: none;
  padding: 12px 6px;
  background: #EBEBEB;
}

html input[type="submit"], html button {
  border: 0px solid transparent;
  background: #292929;
  color: white;
  cursor: pointer;
  padding: 12px 48px;
  height: 51px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html input[type="submit"]:hover, html button:hover {
  background: inherit;
  padding: 8px 44px;
  border: 4px solid #292929;
  color: #292929;
}

html input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  border-bottom: 3px solid #292929;
}

html input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 24px;
  background: #FB6500;
  cursor: pointer;
}

html .input label.spread {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .input input {
  display: block;
  font-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 6px;
}

html .input input:focus {
  background: #EBEBEB;
}

html .input input:not(:placeholder-shown) {
  background-color: #FFFFFF;
}

html .input:not(:last-child) {
  margin-bottom: 12px;
}

html .input input:focus + .focus {
  width: 100%;
}

html .input .line {
  height: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html .input .line.focus {
  background: #292929;
  width: 0%;
  float: left;
}

html .st-answer {
  border-radius: 50%;
  width: 27px;
}

html .st-answer.st-yes.checked {
  background: green;
}

html .st-answer.st-no.checked {
  background: red;
}

html .st-answer.st-none.checked {
  background: orange;
}

html .misc_menu, html .answer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  float: right;
}

html .misc_menu a:not(:last-child) {
  margin-right: 8px;
}

html .list .row p, html .list .row h1 {
  padding-left: 12px;
}

html .list .row p {
  padding-top: 12px;
}

html .list .row h1 {
  padding-bottom: 12px;
}

html .list .row:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}

html body {
  background: #EBEBEB;
}

html body header {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

html body header .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body header .container .row:first-child {
  padding: 12px 0px;
}

html body header .container .row:first-child .col:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html body header .container .row:first-child .col:first-child img {
  margin-right: 24px;
}

html body header .container .row:last-child nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body header .container .row:last-child nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

html body header .container .row:last-child nav ul li a h6 {
  display: block;
  padding: 6px 12px;
}

html body header .container .row:last-child nav ul li a .line {
  height: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html body header .container .row:last-child nav ul li a .line.hover {
  background: #FB6500;
  width: 0%;
  float: left;
}

html body header .container .row:last-child nav ul li a .line.active {
  background: #292929;
  width: 100%;
  float: right;
}

html body header .container .row:last-child nav ul li a:hover .line.hover {
  width: 100%;
}

html body header .container .row:last-child nav ul li a:hover .line.active {
  width: 0%;
}

html body header .container .row:last-child nav ul:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html body header .container .row:last-child nav ul:first-child li {
  margin-right: 36px;
}

html body main {
  margin-top: 40px;
}

html body main .wrapper .head, html body main .wrapper .body {
  margin-bottom: 12px;
}

html body .basic-form {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  width: 560px;
}

html body .basic-form .wrapper {
  padding: 24px;
}

html body .basic-form .wrapper .head {
  padding-bottom: 12px;
  border-bottom: 1px solid #9E9E9E;
}

html body .basic-form .wrapper .body {
  padding-top: 12px;
}

html body .basic-form .wrapper .body .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

html body table th, html body table td {
  padding: 12px;
}

html body table th:not(:last-child), html body table td:not(:last-child) {
  padding-right: 12px;
}

html body table th:last-child, html body table td:last-child {
  text-align: center;
}

html body table thead {
  background: #EBEBEB;
}

html body table tbody {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

html body table tbody tr:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}

html body table #id {
  width: 50px;
}

html body table #created_on, html body table #last_edited, html body table #last_login {
  width: 220px;
}
/*# sourceMappingURL=app.css.map */