table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    th, td {
        padding: 12px;
        &:not(:last-child) {
            padding-right: 12px;
        }
        &:last-child {
            text-align: center;
        }
    }
    thead {
        background: $lightgrey;
    }
    tbody {
        background: $white;
        box-shadow: $shadow;
        tr {
            background: inherit;
            &:not(:last-child) {
                border-bottom: 1px solid $lightgrey;
            }

            cursor: pointer;
        }
        #misc {
            .toggle {

            }
            .menu {
                position: absolute;
                float: right;
                transform: translate(-110%, calc(-100% + 12px));
                padding: 12px;
                z-index: 9;
                &:nth-child(even) {
                    background: $lightgrey;
                }
            }
        }
    }
    tfoot {
        
    }

    #id {
        width: 50px;
    }

    #misc {
        display: flex;
        width: 50px;
        a {
            &:first-child {
                margin-right: 6px;
            }
        }
    }

    #created_on, #last_edited, #last_login {
        width: 220px;
    }
}