table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    th, td {
        padding: 12px;
        &:not(:last-child) {
            padding-right: 12px;
        }
        &:last-child {
            text-align: center;
        }
    }
    thead {
        background: $lightgrey;
    }
    tbody {
        background: $white;
        box-shadow: $shadow;
        tr {
            &:not(:last-child) {
                border-bottom: 1px solid $lightgrey;
            }
        }
    }
    tfoot {
        
    }

    #id {
        width: 50px;
    }

    #created_on, #last_edited, #last_login {
        width: 220px;
    }
}