@keyframes hover_shake{
    0% {
        transform: rotateZ(0deg);
    }
    33% {
        transform: rotateZ(-10deg);
    }
    66% {
        transform: rotateZ(6deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}