.container, .wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container {
    padding: 0px 12px;
}

.wrapper {
    padding: 12px 12px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-head {
    .row {
        display: flex;
        align-items: center;
        .col {
            &:first-child {
                flex-grow: 1;
            }
        }
    }
}

.main-table {
    background: $white;
    box-shadow: $shadow;
    .wrapper {

    }
}