h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 42px;
}

p, span, a, input, button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

a {
    text-decoration: none;
}

button {
    a {
        color: white;
        transition: 0.2s;
    }
    &:hover {
        a { color: $black !important; }
    }
}

i {
    &:hover {
        animation-name: hover_shake;
        animation-duration: 0.3s;
    }
}